<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ilchev.stefan.callblocker">

	<application
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name">

		<activity
			android:name=".MainActivity"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<receiver
			android:name=".CallBlocker"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.PHONE_STATE" />
			</intent-filter>
		</receiver>
	</application>

	<!-- receive phone state broadcasts -->
	<uses-permission-sdk-23 android:name="android.permission.READ_PHONE_STATE" />

	<!-- receive a second phone state broadcast with the incoming number -->
	<uses-permission-sdk-23 android:name="android.permission.READ_CALL_LOG" />

	<!-- end phone calls -->
	<uses-permission-sdk-23 android:name="android.permission.ANSWER_PHONE_CALLS" />
</manifest>
