<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ilchev.stefan.callblocker">

	<!-- receive phone state broadcasts -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />

	<!-- receive a second phone state broadcast with the incoming number -->
	<uses-permission android:name="android.permission.READ_CALL_LOG" />

	<!-- end phone calls -->
	<uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />

	<application
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round">
		<activity
			android:name="ilchev.stefan.callblocker.MainActivity"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<receiver
			android:name="ilchev.stefan.callblocker.CallBlocker"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.PHONE_STATE" />
			</intent-filter>
		</receiver>
	</application>
</manifest>
