<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

	<!-- receive phone state broadcasts -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />

	<!-- receive a second phone state broadcast with the incoming number -->
	<uses-permission android:name="android.permission.READ_CALL_LOG" />

	<!-- end phone calls -->
	<uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />

	<!-- notify blocked calls -->
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

	<!-- needed for contact checks -->
	<uses-permission android:name="android.permission.READ_CONTACTS" />

	<queries>

		<intent>
			<action android:name="android.settings.MANAGE_DEFAULT_APPS_SETTINGS" />
		</intent>
	</queries>

	<application
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true">

		<activity
			android:name=".MainActivity"
			android:exported="true"
			android:theme="@style/AppTheme">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<receiver
			android:name=".CallReceiver"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.PHONE_STATE" />
			</intent-filter>
		</receiver>

		<service
			android:name=".CallService"
			android:exported="true"
			android:permission="android.permission.BIND_SCREENING_SERVICE">

			<intent-filter>
				<action android:name="android.telecom.CallScreeningService" />
			</intent-filter>
		</service>
	</application>
</manifest>
